body {
  background-color: rgb(248, 249, 250)
}
img{
  height: 400px;
}
.link a {
  font-size: 18px;
}
a:hover {
  font-weight: bolder;
} 
#git {
  font-size: 30px;
}
h1 {
  font-family: sans-serif;
  font-size: 50px;
}
