body {
  background-color: rgb(248, 249, 250);
  font-family: 'Finger Paint', cursive;
  font-family: 'Righteous', cursive;
  margin: 25px;
  padding: 2%;
}
#foto-perfil {
  height: 250px;
  padding: 5px;
  background-color: rgb(84, 165, 165);
}
.descricao a {
  font-size: 18px;
}
.descricao {
  position: absolute;
  top: 20%;
  left: 30%;
}
a:hover {
  font-weight: bolder;
} 
#git {
  font-size: 30px;
}
h1 {
  font-family: sans-serif;
  font-size: 50px;
  text-align: center;
}

#head img{
float: left;
}
#foto-box {
  height: 260px;
  position: relative;
}
ul li:nth-child(odd) {
  background-color: khaki;
}





div {
  border: 2px solid green;
}