.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    li {
      border-radius: 5px;
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
      width: 49%;
    }

    li.input-area {
      clear: none;
    }
  }

  [type="text"],
  [type=email] {
    background: #1e6495;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    height: 50px;
    padding: 0 20px;
    width: 100%;
  }

  textarea {
    background: #1e6495;
    border-radius: 5px;
    box-sizing: border-box;
    border: 0;
    color: #fff;
    font-size: 16px;
    padding: 20px;
    min-height: 150px;
    width: 100%;
  }
}

.submit-button {
  background: 0 0;
  border-radius: 5px;
  color: #fb6f24;
  font: 11px;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 9px 10px;
  float: right;
  opacity: 0.7;

  &:hover {
    transition: 0.5s;
    opacity: 1;
  }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px #1e6495 inset;
    box-shadow: 0 0 0px 1000px #1e6495 inset;
}
