.icon-container {
  display: flex;
  flex-flow: wrap;
  position: absolute;
  width:25%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  margin: auto;
  box-sizing: border-box;

  .image-card {
    max-height: 22%;
    max-width: 35%;

    border: 1px solid #5191c1;
    border-radius: 8px;
    padding: 1.5rem 0.35rem;
    margin: 0.8rem;
    opacity: 0.6;

    &:hover {
      opacity: 0.8;
      transition: 0.5s;
      background: #1e6495;
      box-shadow: 0 0 1em #5191c1;
    }
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

